
*{
    font-family: "Gill Sans", sans-serif; 
    margin: auto;
 }
p{
    font-size: 24;
    font-style: normal;
    margin-left:40px;
    margin-right: 40px;
    margin-top: 20px;
}

.onphoto {
    color: whitesmoke;
    font-weight: normal;
    letter-spacing: 1pt;

}
.top-left {
    font-size: 2.5vw;
    font-size: 25px;
    margin: auto;
    margin-right: 600px;
    margin-left: 20px;
    text-align: left;
    width: 413px;
    height: 513px;
    position: relative;
    z-index: 1;

    
    
}

.menu {
    font-size: 2.5vw;
    font-size: 20px;
    word-spacing: 1em;
    z-index: 1;
    text-align: right;
    position: relative;
    margin-right: 20pt;

}
.sub{
    font-size: 25pt;
    letter-spacing: 0.3pt;
    font: Roboto;
}

h1{
    font-size: 24pt;
    letter-spacing: 1pt;
    
}

.bg {
    background-image: url("../PersonalWebsite/sl.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70%;
    min-width: 100%;
    z-index: -1;
}